* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
}
h1,
h2,
h3,
h4,
p,
a,
label, dl, dd,legend {
  font-family: var(--headings-paragraphs);
  color: var(--text);
  font-weight: 600;
}
p, dl, dd {
  font-weight: 400;
}
body {
  background-color: var(--background);
}
main {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.padding {
  padding-bottom: 0.5rem;
}
.margin {
  margin-bottom: 0.5rem;
}
.drop-shadow {
  filter: drop-shadow(2px 2px 5px var(--dark-gray));
}
.hamburger-button {
  color: inherit;
  background-color: var(--light-gray);
}
#products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.sale {
  color: var(--sale-price);
}
.strike {
  text-decoration: line-through;
}
.bold {
  font-weight: 800;
}
.price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* CARDS */
.card {
  background-color: white;
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 5px var(--dark-gray));
  cursor: pointer;
}
.card-carousel {
  background-color: white;
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 5px var(--dark-gray));
  animation: slideIn 0.2s ease-in;
  cursor: pointer;
  position: relative;
}
.flex-row-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-img-wrapper {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
}
#carousel-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  transition: opacity 0.3s ease-in-out;
}
.pagination {
display: grid;
grid-template-columns: 40px 1fr 40px;
grid-template-rows: auto;
gap: 1rem;
margin-bottom: 5rem;

}
fieldset {
  border: none;
}
legend {
  margin-bottom: 1rem;
}
#prev-button {
  background-color: inherit;
}
#next-button {
  background-color: inherit;
}
/* breadcrumbs */ 

ul.breadcrumbs {
  padding: 0.8rem 1rem;
  list-style: none;
  background-color: transparent;
}
ul.breadcrumbs li {
  display: inline;
  font-size: 1rem;
}
ul.breadcrumbs li+li:before {
  padding: 0.5rem;
  color: var(--text);
  content: "/\00a0";
}
ul.breadcrumbs li a {
  color: var(--text);
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  text-decoration: underline;
}
.current-page {
  font-weight: 800;
}
/* breadcrumbs */ 

/* MAKE THE CARDS LOOK BETTER WITH PADDING /*
/*CARDS*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  max-width: 100rem;
}

button {
  font-family: var(--buttons);
  color: var(--button-text);
  font-weight: 400;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}
.icon-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#icon-on-button {
  color: var(--button-text);
}
input {
  border: solid 2px;
  border-color: var(--gray);
  border-radius: 0.3rem;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  max-width: 100%;
  box-sizing: border-box;
}
.empty-input {
  border: 2px solid var(--text-error);
}
.icon {
  color: var(--text);
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.price {
  font-weight: 600;
}
.sale {
  color: var(--sale-price);
  font-weight: 600;
}
.strike {
  text-decoration: line-through;
}

input:focus {
  border: 2px solid var(--main-color); /* is this color enough to see? */
  outline: none;

}
.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}
.blue:hover {
  background-color: var(--blue-hover);
}
.purple:hover {
  background-color: var(--purple-hover);
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem; /* remove maybe */ 
}
h2, legend {
  font-size: 1.125rem;
}
h3 {
  font-size: 1.1rem;
}
p {
  font-size: 0.875rem; /* change this to 1 rem? */
}
.visible {
  display: block;
}

.hidden {
  display: none;
}
#back-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  position: absolute;
  top: 5rem;
  left: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* HEADER */

#logo {
  width: clamp(80px, 70vw, 150px);
}

.user-shoppingcart-wrapper {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
  position: relative;
  z-index: 200;
  
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.mobile-navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  width: 100%;
  height: fit-content;
  position: absolute;
  right: 0%;
  top: 4rem;
  border-bottom: 2px solid var(--dark-gray);
  gap: 2rem;
  padding-block: 1.5rem;
  z-index: 98;
  visibility: hidden;
  pointer-events: none;
}
.mobile-navigation.active {
  right: 0;
  visibility: visible;
  pointer-events: auto;
  animation-name: slideIn;
  animation-duration: 0.2s;
  animation-fill-mode:none;
}
@keyframes slideIn {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.mobile-navigation a {
  color: var(--text);
}

.user-shoppingcart-wrapper-mobile {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 2rem;
  margin-block: 1rem;
}
.icon-link-wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 3rem;
  margin-right: 1rem;
}
/* HEADER */

/*FOOTER */
#footer {
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  justify-content: left;
  flex-direction: column;
}

#footer a {
  color: var(--text);
  font-weight: 400;
}
.footer-headings {
  font-family: var(--logo-font);
  font-style: italic;
  font-weight: 800;
}

#copyright {
  font-family: var(--logo-font);
  font-size: 0.875rem;
  font-weight: 800;
  font-style: italic;
}

/* Messages */ 
#toast-container {
  position: fixed;
  top:4.5rem;
  right: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}
.toast {
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Roboto','Arial';
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.toast.success {
  color: var(--text-success);
  background-color: var(--background-success);
}
.toast.error {
  color: var(--text-error);
  background-color: var(--background-error);
}
.toast.warning {
  color: var(--text-warning);
  background-color: var(--background-warning);
}
.toast-icon {

  height: clamp(2rem, 2.5vw, 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast-icon img {
  color: inherit !important;
}
.toast-icon-success {
  color:var(--text-success);
}
.toast-icon-error {
  color: var(--text-error);
}
.toast-icon-warning {
  color: var(--text-warning);
}

/* Messages*/ 

@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
    
  }
  h2, legend {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
ul.breadcrumbs li {
  font-size: 1.2rem;
}
  /* HEADER */
  #logo {
    width: clamp(90px, 70vw, 160px);
  }
  #user,
  #shoppingcart {
    width: 25px;
    height: 25px;
  }

  .user-shoppingcart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
  }
  .hamburger-menu {
    display: none;
  }

  /*FOOTER*/

  .footer-navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  #footer {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }
  #products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  main {
    margin-inline: 10rem;
  }
  .padding {
    padding-bottom: 1rem;
  }
  .margin {
    margin: 1rem;
  }
  #carousel-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media (min-width: 1440px) {
  #products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  main {
    margin-inline: 15rem;
  }
}
@media (min-width: 1920px) {
  #products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }
    main {
    margin-inline: 15rem;
  }
}
