
#logo {
  width: clamp(80px, 70vw, 150px);
}

.user-shoppingcart-wrapper {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
  position: relative;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.mobile-navigation {
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  background-color: var(--gray);
  width: 100vw;
  height: fit-content;
  position: fixed;
  right: -100%;
  top: 4rem;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid var(--dark-gray);
  gap: 2rem;
  padding-block: 1.5rem;
}
.mobile-navigation a {
  color: var(--text);
}
.mobile-navigation.active{
 right: 0;
}
.user-shoppingcart-wrapper-mobile {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 2rem;
  margin-block: 1rem;
}
.icon-link-wrapper a{
  display: flex;
  flex-direction: row;
  justify-content:end;
  gap: 3rem;
  margin-right: 1rem;
}

#footer {
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  justify-content: left;
    flex-direction: column;
}

#footer a {
  color: var(--text);
  font-weight: 400;
}
.footer-headings {
  font-family: var(--logo-font);
  font-style:italic;
  font-weight: 800;
}

#copyright {
  font-family: var(--logo-font);
  font-size: 0.875rem;
  font-weight: 800;
  font-style: italic;
}

 @media (min-width: 768px) {
#logo {
  width: clamp(90px, 70vw, 160px);
}
#user, #shoppingcart {
  width: 25px;
  height: 25px;
}

.user-shoppingcart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  
}
.hamburger-menu {
  display: none;
}
.footer-navigation-wrapper {
  display: flex;
  flex-direction: row;
  gap:5rem;
}
#footer {
  flex-direction: row;
  justify-content: center;
  gap:10rem;
}
 }

 @media (min-width: 1440px) {
  .footer-navigation-wrapper {
    gap: 10rem;
  }
 }
@media (min-width: 1920px) {

}







