@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');




:root {

--logo-font: 'Zalando Sans Expanded', 'Arial';
--headings-paragraphs: 'Noto Sans', 'Arial';
--buttons: 'Roboto', 'Arial';

--main-color: #5AB286;
--text: #483D3A;
--blue: #2E4CE0;
--blue-hover: #1632BA;
--button-text: #F3F3F3;
--dark-gray: #B1B1B1;
--light-gray: #F3F3F3;
--background: #DFE5ED;
--sale-price: #DB0F0F;
--gray: #D9D9D9;
--background-error: #F8C6C6;
--text-error: #880000;
--background-warning: #FFE1BF;
--text-warning: #995200;
--background-success: #CDF2CA;
--text-success: #096800;
--gray-button: #525252;
--gray-button-hover: #303030;
}