#cart-and-summary-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}
#cart-wrapper {
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}
#summary-wrapper {
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#empty-cart-wrapper {
  margin: 0 auto;
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}

.trashcan-button {
  background-color: inherit;
  width: 40px;
  height: 40px;
}
#shopping-bags {
  width: 80px;
  height: 80px;
}
.cart-image {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}
#delete-product {
  height: 30px;
  width: 30px;
}
.product-cart-wrapper {
  display:flex;
  flex-direction: row;
  gap: 1rem;
}
.title-price-quantity-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trashcan-quantity-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;



}

.quantity {
  display:flex;
  flex-direction: row;
}
#minus-button, #plus-button {
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
}

#quantity-input {
text-align: center;
width: 3rem;

}

 @media (min-width: 768px) {
#cart-and-summary-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}

#cart-wrapper {
  background-color: white;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}
#summary-wrapper {
  background-color: white;
    padding-block: 1.5rem;
  padding-inline: 1.5rem;
}


 }

 @media (min-width: 1440px) {
#cart-and-summary-wrapper {
  grid-template-columns: 1fr 1fr;
}
 }
@media (min-width: 1920px) {
  
}