#cart-and-summary-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}
#cart-wrapper {
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}
#summary-wrapper {
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.empty-cart-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trashcan-button {
  background-color: inherit;
}
#shopping-bags {
  width: 50px;
  height: 50px;
}
.cart-image {
  height: clamp(3rem, 5vw, 6rem);
}
#delete-product {
  height: 30px;
  width: 30px;
}
.product-cart-wrapper {
  display:flex;
  flex-direction: row;
  gap: 1rem;
}
.title-price-quantity-wrapper {
  display: flex;
  flex-direction: column;
}
.trashcan-quantity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  display:flex;
  flex-direction: row;
}
#minus-button, #plus-button {
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
}

#quantity-input {
  width: 100%;
}

 @media (min-width: 768px) {
#cart-and-summary-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}

#cart-wrapper {
  background-color: white;
  padding-block: 3rem;
  padding-inline: 3rem;
}
#summary-wrapper {
  background-color: white;
    padding-block: 3rem;
  padding-inline: 3rem;
}

 }

 @media (min-width: 1440px) {

 }
@media (min-width: 1920px) {
  
}