#success-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.3rem;

}
#success-circle{
  width: 100px;
  height: 100px;
}
.success-circle-wrapper {
  color: var(--main-color);
}


 @media (min-width: 768px) {
  #success-wrapper {
      padding-inline: 5rem;
  padding-block: 5rem;
  }

 }
